<nav class="nav-main" id="navMain" aria-label="Main Menu">
    <ul class="nav-main__list">
        <li class="nav-main__item">
        	<a href="#">Solutions</a>
            <div class="nav-main__sub nav-sub nav-sub--related">
                <div>
                    <ul class="nav-sub__list">
                        <li class="nav-sub__item"><a href="#">RiverStar Unified Agent Desktop</a></li>
                        <li class="nav-sub__item"><a href="#">RiverStar Campaign Manager</li>
                        <li class="nav-sub__item"><a href="#">RiverStar Reporting Engine</a></li>
                        <li class="nav-sub__item"><a href="#">Dynamic Script Editor</a></li>
                        <li class="nav-sub__item"><a href="#">RiverStar Studio</a></li>
                        <li class="nav-sub__item"><a href="#">Architecture and Tech Specs</a></li>
                        <li class="nav-sub__item"><a href="#">Common Use Cases</a></li>
                        <li class="nav-sub__item"><a href="#">Integration Platform as a Service</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="nav-main__item"><a href="#" class="nav-main__btn">Benefits</a></li>
        <li class="nav-main__item"><a href="#" class="nav-main__btn">Customers</a></li>
        <li class="nav-main__item"><a href="#" class="nav-main__btn">Partners</a></li>
        <li class="nav-main__item"><a href="#" class="nav-main__btn">Resources</a></li>
        <li class="nav-main__item"><a href="#" class="nav-main__btn">Company</a></li>
    </ul>
</nav>