/**
 * Base Styles
 */

@viewport {
    width: device-width;
}

* {
    margin: 0;
    padding: 0;

    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

::selection {
    background-color: lightblue;
    text-shadow: 1px 1px #d3d3d3;
}

html {
    font-family: $regular;
    box-sizing: border-box;
}

body {
    position: relative;
    color: $text;
    font-size: 100%;
}

body,
input {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
}
